{% extends '::common.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/eric_reset.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
	<link href="{{ asset('css/FontAwesome/css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
	<script src='{{ asset('js/jquery-1.10.2.min.js') }}'></script>
	<script src='{{ asset('js/Mario.js') }}'></script>
{% endblock %}

{% block pitanja %}
	<div class='pitanja col-xs-7'>
		<h1><span class='fa fa-wechat fa-2x title-question-icon'></span>Najčešća pitanja</h1>

		<div class='top-list col-xs-12' id='top-list-id'>
				<div class='question col-xs-12'>
					<button class='col-xs-12'>Kao prvo, što su to web aplikacije i da li je to Vama uopće potrebno?<span class='fa fa-exchange fa-lg question-icons'></span></button>
						<div class='answer-list'>
							<div class='answer-icon col-xs-2'>
							<span class='fa fa-pencil-square-o fa-3x'></span>
							</div>
							<p class='col-xs-10'>
								Svaki proizvod ili usluga koju nudite, se radi sa ljubavlju. Vaš proizvod ili usluga su najbolja reklama budućim klijentima. To isto vrijedi i za Vašu web aplikaciju. Kada budući klijent bude otvorio vašu stranicu, dojmovi koje
								stvori o vašoj tvrtci ili obrtu će uvelike, pozitivno ili negativno, utjecati na uspješnost Vašeg posla.
							</p>

							<p class='col-xs-10'>
								Ovdje na sceni ulazimo mi. Naš cilj je povećati poslovanje vaše tvrtke ili obrta na način da izradimo web aplikaciju (web stranicu)
								zbog koje će klijent biti puno više zainteresiran za vaš proizvod ili uslugu (<span class='answer-highlight'>wow efekt<span>).
							</p>
							<p class='col-xs-10'>
								Naš glavni cilj je izazvati pozitivne dojmove 
																na budućeg klijenta, koji će tu aplikaciju pregledavati na 
																subotnjoj kavi, izlasku s prijateljima, poslovnom sastanku ili u udobnosti svojeg doma.
							</p> 
				    	</div>
			    </div>

			<div class='question col-xs-12'>
				<button class='col-xs-12'>Zašto je bitna kvalitetna komunikacija između nas (web čarobnjaka) i vas (poštovanog klijenta)?<span class='fa fa-exchange fa-lg question-icons'></span></button>
					<div class='answer-list'>
						<div class='answer-icon col-xs-2'>
						<span class='fa fa-pencil-square-o fa-3x'></span>
						</div>
						<p class='col-xs-10'>Zdrava komunikacija je bitna u bilo kojem aspektu života, pa tako i u izradi web aplikacije. 
							Naš tim mora znati što Vaša tvrtka ili obrt radi, koja su načela koja slijedi i koji je Vaši planovi za budućnost.
							Da budem jasan, moramo upoznati dušu vašeg posla jer je svaka web aplikacija odraz vašeg posla.
						</p>
			    	</div>
		    </div>

			<div class='question col-xs-12'>
				<button class='col-xs-12'>Koje su faze izrade web aplikacije?<span class='fa fa-sort-alpha-asc fa-lg question-icons'></span></button>
					<div class='answer-list'>
						<div class='answer-icon col-xs-2'>
							<span class='fa fa-pencil-square-o fa-3x'></span>
						</div>
						<p class='col-xs-10'>
							Izrada bilo čega, od odjeće do automobila, ima svoje faze pa tako i izrada web aplikacije
						</p>
						<p class='col-xs-10'>
							<label class='answer-headline'>1. Faza planiranja i konzultacija s Vama kao klijentom</label>
							Najbitnija faza. S Vama razgovaramo, postavljamo pitanja, dajemo i primamo prijedloge. Između toga
							se mogu naći i zajednička druženja uz kavu i kolače.
							<label class='answer-headline'>2. Izrada dizajna i izgleda aplikacije</label>
							Faza u kojoj izrađujemo izgled aplikacije u Photoshopu, Ilustratoru i ostalim programima za obradu dizajna. U ovoj fazi se i dalje konzultiramo s Vama. Nakon što izradimo
							dizajn, moguće ga je promjeniti u skladu s Vašim željama, ali ograničeno. Vaše želje su nam bitne, ali ovo
							je ipak naša struka i strast pa, zbog toga, najbolje znamo kakav će se dizajn najviše svidjeti vašim klijentima
							i posjetiteljima stranice
							<label class='answer-headline'>SEO optimizacija, implementiranje HTML5/CSS3 te Javascripta (Jquery), primjenjivanje responsive web dizajna</label>
							Nakon što je gotov i prihvaćen dizajn aplikacije, kreće se u samu izradu. Izrađuje se markup (HTML5), pozicije i izgled elemenata aplikacije (CSS3), primjenjuju se potrebni efekti i način na koji će aplikacija raditi na samom pretraživaću (Firefox, Chrome, Safari, Opera), primjenjuje se responsive web dizajn odnosno način na koji će stranica izgledati na mobitelima. 
						</p>
						<p class='col-xs-10'>
							Ova faza je usko povezana sa 4. fazom (Backend) jer se zajedno izrađujemo i ovisi jedno o drugom ali je ipak odvojeni proces zbog lakše i brže izrade web aplikacije
					    </p>

					    <p class='col-xs-10'>
					    	<label class='answer-headline'>Backend odnosno serverska strana web aplikacije (PHP/Symfony2)</label>
					    	U ovoj fazi se izrađuju funkcionalnosti Vaše web aplikacije. Upisivanje registriranih korisnika u bazu, izrada multijezične komponente, web trgovina i obrada podataka iz nje, itd... Ovisno o naravi web aplikacije, ovo je ujedno i najkompleksniji dio, ali i najzanimljiviji. Barem nama programerima.
					    </p>
					    <p class='col-xs-10'>
					    	<label class='answer-headline'>Testiranje gotove web aplikacije</label>
					    	Ova faza je jasna. Uklanjanje mogućih grešaka i testiranje svih mogućih scenarija kroz koja bi Vaša aplikacija mogla prolaziti.
					    	<label class='answer-headline'>Proizvodnja</label>
					    	Stranica se učita na web hosting i postaje dostupna svima. 
					    </p>
			    	</div>
			</div>
				<div class='question col-xs-12'>
					<button class='col-xs-12'>HTML5? CSS3? Javascript? Jquery? Što je to<span class='fa fa-exchange fa-lg question-icons'></span></button>
						<div class='answer-list'>
							<div class='answer-icon col-xs-2'>
							<span class='fa fa-pencil-square-o fa-3x'></span>
							</div>
							<p class='col-xs-10'>
								HTML5 je markup jezik koji definira što je vaš sadržaj i kako bi ga web pretraživač (Firefox, Chrome, Safari) trebao obraditi. Također je bitan za optimizaciju tražilica (Google, Yahoo, Bing) odnosno način i redoslijed u kojem vas tražilice prikazuju kada vas korisnik pokuša potražiti na internetu.
							</p>

							<p class='col-xs-10'>
								CSS3 (Cascading Style Sheets) daju oblik vašoj stranici. Dužina i visina elemenata, boje elemenata, pozicije elemenata samo su mali dio onoga o čemu se brine CSS3. Tu je i izgled stanice na mobitelima ali o tome se u, većem ili manje dijelu, brine i Javascript.
							</p>

							<p class='col-xs-10'>
								Javascript je programski jezik koji se izvršava na bilo kojem web pretraživaču. Vi ga najbolje znate po efektima koje stranica proizvodi. Padajući izbornici, interaktivne poruke, interaktivni dijalozi, razne animacije i puno toga više. Jquery je framework napisan u Javascriptu s kojim je izrada efekata brža, lakša i bolja.
							</p>
				    	</div>
			    </div>

			    	<div class='question col-xs-12'>
			    		<button class='col-xs-12'>Što je to PHP i zašto je bitan Symfony2? (ili bilo koji PHP framework)<span class='fa fa-exchange fa-lg question-icons'></span></button>
			    			<div class='answer-list'>
			    				<div class='answer-icon col-xs-2'>
			    				<span class='fa fa-pencil-square-o fa-3x'></span>
			    				</div>
			    				<p class='col-xs-10'>
			    				</p>
			    	    	</div>
			        </div>
	</div>
{% endblock %}
